use flake

function use_venv() {
    uv venv --clear
    export VIRTUAL_ENV="$(pwd)/.venv"
    export PATH="$VIRTUAL_ENV/bin:$PATH"
}

function use_standard-python() {
    source_up_if_exists 2>/dev/null || true
    dotenv_if_exists
    source_env_if_exists .envrc.local
    use venv
    uv sync
}

use standard-python

